<ion-header>
  <ion-toolbar>
    <ion-title>Favourite Movies</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="goBack()">
    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="'/home'">
    <ion-icon name="home" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let movie of movies">
    <ion-card-content>
      <img *ngIf="movie.poster_path" [src]="imgBase + movie.poster_path" width="120" />
      <div *ngIf="!movie.poster_path">No image</div>
      <p>{{ movie.title }}</p>
     <ion-button size="small" (click)="onDetails(movie)">DETAILS</ion-button>
<ion-button size="small" color="danger" (click)="onRemove(movie)">REMOVE</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>